body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #121b2a;
  padding: 10px 0px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper .logo {
  width: 18%;
  float: left;
}

.wrapper .logo img{
    width: 100%;
}

.menu {
  width: 70%;
  float: right;
  margin-top: 30px;
  border: 1px solid teal;
}

.menu ul {
   float: right;
}
.menu ul li {
   float: left;
}

.menu ul li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 0px 20px;
  transition: 0.3s;
}

.menu ul li:last-child a{
    padding-right: 0;
}

.menu ul li a:hover {
  color: #0779b8;
}